In [1]:
import pandas as pd

In [3]:
## read from existing results :
ns = pd.read_csv("Task13P-U-ns_train.csv",sep=',')
print(ns.columns)
ns

Index(['Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'O-Q model2 start',
       'O-Q model2 end', 'O-Q model2 score', 'O-Q model4 answer span',
       'O-Q model4 start', 'O-Q model4 end', 'O-Q model4 score',
       'O-Q electra answer span', 'O-Q electra start', 'O-Q electra end',
       'O-Q electra score', 'O-Q roberta answer span', 'O-Q roberta start',
       'O-Q roberta end', 'O-Q roberta score', 'O-Q sgnet answer span',
       'O-Q retro answer span', 'P-U model2 answer span', 'P-U model2 start',
       'P-U model2 end', 'P-U model2 score', 'P-U model4 answer span',
       'P-U model4 start', 'P-U model4 end', 'P-U model4 score',
       'P-U electra answer span', 'P-U electra start', 'P-U electra end',
       'P-U electra score', 'P-U roberta answer span', 'P-U roberta start',
       'P-U roberta end', 'P-U roberta score', 'P-U retro answer span',
       'P-U SgNet answer span'],
      dtype='object')

/tmp/ipykernel_1622604/561744580.py:2: DtypeWarning: Columns (21,40) have mixed types. Specify dtype option on import or set low_memory=False.
  ns = pd.read_csv("Task13P-U-ns_train.csv",sep=',')

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,O-Q model2 start,O-Q model2 end,O-Q model2 score,O-Q model4 answer span,...,P-U electra answer span,P-U electra start,P-U electra end,P-U electra score,P-U roberta answer span,P-U roberta start,P-U roberta end,P-U roberta score,P-U retro answer span,P-U SgNet answer span
0,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 19 wha...,influential,934,946,0.505228,influential,...,100,926,929,2.841150e-08,influential,935,946,0.912434,[SEP],Industry
1,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most millio...,influential,934,946,0.505228,influential,...,influential people in the world in 2013 and 2014,935,983,6.096413e-09,influential,935,946,0.579492,[SEP],Industry
2,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 2000s ...,influential,934,946,0.505228,influential,...,influential,935,946,2.567895e-03,influential,935,946,0.849156,influential,Industry
3,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 100 wh...,influential,934,946,0.505228,influential,...,influential,935,946,9.996563e-01,influential,935,946,0.930908,[SEP],Industry
4,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 20 wha...,influential,934,946,0.505228,influential,...,100,926,929,6.641594e-08,influential,935,946,0.174084,[SEP],Industry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25284,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,132,135,0.175569,six,...,6,134,135,9.996760e-01,six,118,121,0.344341,[SEP],NaN
25285,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,132,135,0.175569,six,...,6,134,135,9.998916e-01,six,118,121,0.000720,(6,NaN
25286,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,132,135,0.175569,six,...,6,134,135,9.997828e-01,six,118,121,0.242046,(6,NaN
25287,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,132,135,0.175569,six,...,6,134,135,9.980862e-01,6 km,134,138,0.325333,(6,NaN
25288,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,132,135,0.175569,six,...,6,134,135,9.998801e-01,6,134,135,0.191897,(6,NaN

# Cleaning Model's answer

In [4]:
import re

def preprocess_text2(text):
    if not pd.isna(text): 
        # Remove special characters from the left side
        text = re.sub(r'^\W+', '', text)

        # Remove special characters from the right side
        text = re.sub(r'\W+$', '', text)
        return text
    else: ## it's nan
        return ''
    
    
def preprocess_text(text):
    if not pd.isna(text): 
        return text
    else: ## it's nan
        return ''

text = "(2003)!,"
processed_text = preprocess_text(text)
print(processed_text)

(2003)!,

In [5]:
### Cleaning the result of models
import ast
Cln_orgQ_model2 = []
Cln_orgQ_model4 = []
Cln_orgQ_electra = []
Cln_orgQ_roberta = []
Cln_orgQ_sgnet = []
Cln_orgQ_retro = []

Cln_potUQ_model2 = []
Cln_potUQ_model4 = []
Cln_potUQ_electra = []
Cln_potUQ_roberta = []
Cln_potUQ_sgnet = []
Cln_potUQ_retro = []

for index, row in ns.iterrows():
    if index % 1000 == 0:
        print(index)
    
    original_question_model2 = row['O-Q model2 answer span']
    original_question_model4 = row['O-Q model4 answer span']
    original_question_electra = row['O-Q electra answer span']
    original_question_roberta = row['O-Q roberta answer span']
    original_question_sgnet = row['O-Q sgnet answer span']
    original_question_retro = row['O-Q retro answer span']
    
    potentialU_question_model2 = row['P-U model2 answer span']
    potentialU_question_model4 = row['P-U model4 answer span']
    potentialU_question_electra = row['P-U electra answer span']
    potentialU_question_roberta = row['P-U roberta answer span']
    potentialU_question_sgnet = row['P-U SgNet answer span']
    potentialU_question_retro = row['P-U retro answer span']
    
    
    Cln_orgQ_model2.append(preprocess_text(original_question_model2))
    Cln_orgQ_model4.append(preprocess_text(original_question_model4))
    Cln_orgQ_electra.append(preprocess_text(original_question_electra))
    Cln_orgQ_roberta.append(preprocess_text(original_question_roberta))
    Cln_orgQ_sgnet.append(preprocess_text(original_question_sgnet))
    Cln_orgQ_retro.append(preprocess_text(original_question_retro))
    
    Cln_potUQ_model2.append(preprocess_text(potentialU_question_model2))
    Cln_potUQ_model4.append(preprocess_text(potentialU_question_model4))
    Cln_potUQ_electra.append(preprocess_text(potentialU_question_electra))
    Cln_potUQ_roberta.append(preprocess_text(potentialU_question_roberta))
    Cln_potUQ_sgnet.append(preprocess_text(potentialU_question_sgnet))
    Cln_potUQ_retro.append(preprocess_text(potentialU_question_retro))

    
      
ns['Cln_orgQ_model2'] = Cln_orgQ_model2
ns['Cln_orgQ_model4'] = Cln_orgQ_model4
ns['Cln_orgQ_electra'] = Cln_orgQ_electra
ns['Cln_orgQ_roberta'] = Cln_orgQ_roberta
ns['Cln_orgQ_sgnet'] = Cln_orgQ_sgnet
ns['Cln_orgQ_retro'] = Cln_orgQ_retro


ns['Cln_potUQ_model2'] = Cln_potUQ_model2
ns['Cln_potUQ_model4'] = Cln_potUQ_model4
ns['Cln_potUQ_electra'] = Cln_potUQ_electra
ns['Cln_potUQ_roberta'] = Cln_potUQ_roberta
ns['Cln_potUQ_sgnet'] = Cln_potUQ_sgnet
ns['Cln_potUQ_retro'] = Cln_potUQ_retro

# Specify the desired column order
new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'Cln_orgQ_model4', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'Cln_orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro',
       'P-U model2 answer span', 'Cln_potUQ_model2', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'Cln_potUQ_roberta', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet', 'P-U retro answer span', 'Cln_potUQ_retro'
    
]



       
# Reorder the columns in the DataFrame
ns = ns[new_column_order]


ns

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,O-Q model2 start,O-Q model2 end,O-Q model2 score,...,P-U electra score,P-U roberta answer span,Cln_potUQ_roberta,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,P-U retro answer span,Cln_potUQ_retro
0,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 19 wha...,influential,influential,934,946,0.505228,...,2.841150e-08,influential,influential,935,946,0.912434,Industry,Industry,[SEP],[SEP]
1,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most millio...,influential,influential,934,946,0.505228,...,6.096413e-09,influential,influential,935,946,0.579492,Industry,Industry,[SEP],[SEP]
2,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 2000s ...,influential,influential,934,946,0.505228,...,2.567895e-03,influential,influential,935,946,0.849156,Industry,Industry,influential,influential
3,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 100 wh...,influential,influential,934,946,0.505228,...,9.996563e-01,influential,influential,935,946,0.930908,Industry,Industry,[SEP],[SEP]
4,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 20 wha...,influential,influential,934,946,0.505228,...,6.641594e-08,influential,influential,935,946,0.174084,Industry,Industry,[SEP],[SEP]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25284,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,132,135,0.175569,...,9.996760e-01,six,six,118,121,0.344341,NaN,,[SEP],[SEP]
25285,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,132,135,0.175569,...,9.998916e-01,six,six,118,121,0.000720,NaN,,(6,(6
25286,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,132,135,0.175569,...,9.997828e-01,six,six,118,121,0.242046,NaN,,(6,(6
25287,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,132,135,0.175569,...,9.980862e-01,6 km,6 km,134,138,0.325333,NaN,,(6,(6
25288,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,132,135,0.175569,...,9.998801e-01,6,6,134,135,0.191897,NaN,,(6,(6

# EM and Unanswerability

In [6]:

EM_dataset_Cln_orgQ_model2 = []
EM_dataset_Cln_orgQ_model4 = []
EM_dataset_Cln_orgQ_electra = []
EM_dataset_Cln_orgQ_roberta = []
EM_dataset_Cln_orgQ_sgnet = []
EM_dataset_Cln_orgQ_retro = []

EM_dataset_Cln_potUQ_model2 = []
EM_dataset_Cln_potUQ_model4 = []
EM_dataset_Cln_potUQ_electra = []
EM_dataset_Cln_potUQ_roberta = []
Null_EM_dataset_Cln_potUQ_sgnet = []
Null_EM_dataset_Cln_potUQ_retro = []
### for unanswerability
un_potUQ_model2 = []
un_potUQ_model4 = []
un_potUQ_electra = []
un_potUQ_roberta = []
un_potUQ_sgnet = []
un_potUQ_retro = []


for index, row in ns.iterrows():
    if index % 100000 == 0:
        print(index)
        
    original_answer_in_dataset = row['Original_Answer']

    original_question_model2 = row['Cln_orgQ_model2']
    original_question_model4 = row['Cln_orgQ_model4']
    original_question_electra = row['Cln_orgQ_electra']
    original_question_roberta = row['Cln_orgQ_roberta']
    original_question_sgnet = row['Cln_orgQ_sgnet']
    original_question_retro = row['Cln_orgQ_retro']
    

    potentialU_question_sgnet = row['Cln_potUQ_sgnet']
    potentialU_question_retro = row['Cln_potUQ_retro']
    potentialU_questionS_model2 = row['P-U model2 score']
    potentialU_questionS_model4 = row['P-U model4 score']
    potentialU_questionS_electra = row['P-U electra score']
    potentialU_questionS_roberta = row['P-U roberta score']
    



    if original_answer_in_dataset == original_question_model2:  # EM checking (dataset , model on org_q)
        EM_dataset_Cln_orgQ_model2.append(1)
    else:
        EM_dataset_Cln_orgQ_model2.append(0)
    
    if original_answer_in_dataset == original_question_model4:
        EM_dataset_Cln_orgQ_model4.append(1)
    else:
        EM_dataset_Cln_orgQ_model4.append(0)
    
    if original_answer_in_dataset == original_question_electra:
        EM_dataset_Cln_orgQ_electra.append(1)
    else:
        EM_dataset_Cln_orgQ_electra.append(0)
        
    if original_answer_in_dataset == original_question_roberta:
        EM_dataset_Cln_orgQ_roberta.append(1)
    else:
        EM_dataset_Cln_orgQ_roberta.append(0)
    
    if original_answer_in_dataset == original_question_sgnet:
        EM_dataset_Cln_orgQ_sgnet.append(1)
    else:
        EM_dataset_Cln_orgQ_sgnet.append(0)
        
    if original_answer_in_dataset == original_question_retro:
        EM_dataset_Cln_orgQ_retro.append(1)
    else:
        EM_dataset_Cln_orgQ_retro.append(0)
        
    if original_answer_in_dataset == potentialU_question_model2: ## EM checking (dataset, model on p-u_q)
        EM_dataset_Cln_potUQ_model2.append(1)
    else:
        EM_dataset_Cln_potUQ_model2.append(0)
    
    if original_answer_in_dataset == potentialU_question_model4:
        EM_dataset_Cln_potUQ_model4.append(1)
    else:
        EM_dataset_Cln_potUQ_model4.append(0)
    
    if original_answer_in_dataset == potentialU_question_electra:
        EM_dataset_Cln_potUQ_electra.append(1)
    else:
        EM_dataset_Cln_potUQ_electra.append(0)
        
    if original_answer_in_dataset == potentialU_question_roberta:
        EM_dataset_Cln_potUQ_roberta.append(1)
    else:
        EM_dataset_Cln_potUQ_roberta.append(0)
    
    Null_EM_dataset_Cln_potUQ_sgnet.append(100)
    Null_EM_dataset_Cln_potUQ_retro.append(100)

    if potentialU_questionS_model2 <= 0.096476303 : # unanswerablity checking
        un_potUQ_model2.append(0)  #unanswerable
    else:
        un_potUQ_model2.append(1)  #answerable
    
    if potentialU_questionS_model4 <= 0.15272566:
        un_potUQ_model4.append(0) #unanswerable
    else:
        un_potUQ_model4.append(1) #answerable
    
    if potentialU_questionS_electra <= 0.141489303:
        un_potUQ_electra.append(0) #unanswerable
    else:
        un_potUQ_electra.append(1) #answerable
        
    if potentialU_questionS_roberta <= 0.063691394:
        un_potUQ_roberta.append(0) #unanswerable
    else: 
        un_potUQ_roberta.append(1) #answerable
    
    if potentialU_question_sgnet == "": 
        un_potUQ_sgnet.append(0) #unanswerable
    else:
        un_potUQ_sgnet.append(1) #answerable
        
    if potentialU_question_retro == "" or potentialU_question_retro.startswith("[SEP]") or potentialU_question_retro == "'" or potentialU_question_retro == "," or potentialU_question_retro == "<No Answer>. The question is not answerable according to the context." or potentialU_question_retro == "<unk>=0" :
        un_potUQ_retro.append(0) #unanswerable
    else:
        un_potUQ_retro.append(1) #answerable
        
ns['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
ns['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
ns['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
ns['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
ns['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
ns['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro


ns['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
ns['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
ns['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
ns['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
ns['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
ns['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro


ns['unanswerability potentailUQ_model2'] = un_potUQ_model2
ns['unanswerability potentailUQ_model4'] = un_potUQ_model4
ns['unanswerability potentailUQ_electra'] = un_potUQ_electra
ns['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
ns['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
ns['unanswerability potentailUQ_retro'] = un_potUQ_retro

new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
    'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2', 'EM dataset with clean orgQ_model2',
    'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
    'O-Q model4 answer span', 'Cln_orgQ_model4','EM dataset with clean orgQ_model4' ,'O-Q model4 start', 'O-Q model4 end',
    'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'EM dataset with clean orgQ_electra', 'O-Q electra start',
    'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta', 'EM dataset with clean orgQ_roberta',
    'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
    'O-Q sgnet answer span', 'Cln_orgQ_sgnet', 'EM dataset with clean orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro', 'EM dataset with clean orgQ_retro',
    'P-U model2 answer span', 'Cln_potUQ_model2','EM dataset with clean potentailUQ_model2','unanswerability potentailUQ_model2' ,'P-U model2 start', 'P-U model2 end',
    'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4','EM dataset with clean potentailUQ_model4','unanswerability potentailUQ_model4', 'P-U model4 start',
    'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra', 'EM dataset with clean potentailUQ_electra','unanswerability potentailUQ_electra',
    'P-U electra start', 'P-U electra end', 'P-U electra score',
    'P-U roberta answer span', 'Cln_potUQ_roberta','EM dataset with clean potentailUQ_roberta','unanswerability potentailUQ_roberta' ,'P-U roberta start', 'P-U roberta end',
    'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet','NULL EM dataset with clean potentailUQ_sgnet' ,'unanswerability potentailUQ_sgnet','P-U retro answer span', 'Cln_potUQ_retro',
    'NULL EM dataset with clean potentailUQ_retro', 'unanswerability potentailUQ_retro'
    
]



# Reorder the columns in the DataFrame
ns = ns[new_column_order]


ns

0

/tmp/ipykernel_1622604/828387361.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
/tmp/ipykernel_1622604/828387361.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
/tmp/ipykernel_1622604/828387361.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
/tmp/ipykernel_1622604/828387361.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
/tmp/ipykernel_1622604/828387361.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
/tmp/ipykernel_1622604/828387361.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro
/tmp/ipykernel_1622604/828387361.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
/tmp/ipykernel_1622604/828387361.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
/tmp/ipykernel_1622604/828387361.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
/tmp/ipykernel_1622604/828387361.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
/tmp/ipykernel_1622604/828387361.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
/tmp/ipykernel_1622604/828387361.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro
/tmp/ipykernel_1622604/828387361.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_model2'] = un_potUQ_model2
/tmp/ipykernel_1622604/828387361.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_model4'] = un_potUQ_model4
/tmp/ipykernel_1622604/828387361.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_electra'] = un_potUQ_electra
/tmp/ipykernel_1622604/828387361.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
/tmp/ipykernel_1622604/828387361.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
/tmp/ipykernel_1622604/828387361.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ns['unanswerability potentailUQ_retro'] = un_potUQ_retro

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,EM dataset with clean orgQ_model2,O-Q model2 start,O-Q model2 end,...,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,NULL EM dataset with clean potentailUQ_sgnet,unanswerability potentailUQ_sgnet,P-U retro answer span,Cln_potUQ_retro,NULL EM dataset with clean potentailUQ_retro,unanswerability potentailUQ_retro
0,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 19 wha...,influential,influential,0,934,946,...,946,0.912434,Industry,Industry,100,1,[SEP],[SEP],100,0
1,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most millio...,influential,influential,0,934,946,...,946,0.579492,Industry,Industry,100,1,[SEP],[SEP],100,0
2,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 2000s ...,influential,influential,0,934,946,...,946,0.849156,Industry,Industry,100,1,influential,influential,100,1
3,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 100 wh...,influential,influential,0,934,946,...,946,0.930908,Industry,Industry,100,1,[SEP],[SEP],100,0
4,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 20 wha...,influential,influential,0,934,946,...,946,0.174084,Industry,Industry,100,1,[SEP],[SEP],100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25284,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,0,132,135,...,121,0.344341,NaN,,100,0,[SEP],[SEP],100,0
25285,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,0,132,135,...,121,0.000720,NaN,,100,0,(6,(6,100,1
25286,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,0,132,135,...,121,0.242046,NaN,,100,0,(6,(6,100,1
25287,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,0,132,135,...,138,0.325333,NaN,,100,0,(6,(6,100,1
25288,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",(6,(6,0,132,135,...,135,0.191897,NaN,,100,0,(6,(6,100,1

# Working on EM results

In [7]:
import pandas as pd
from tqdm import tqdm

# Define an empty list to hold the rows
rows = []

# Iterate through the DataFrame using iterrows
for index, row in tqdm(ns.iterrows(), total=ns.shape[0], desc="Processing rows"):
    if index % 100000 == 0: 
        print(index)

    qid = row['Question_Id']
    context = row['Context']
    org_question = row['Original_Question']
    org_answer = row['Original_Answer']
    pu_question = row['Modified_Question']

    model_data = [
        ('model 2', row['Cln_orgQ_model2'], row['Cln_potUQ_model2'], row['EM dataset with clean orgQ_model2'], row['EM dataset with clean potentailUQ_model2'],row['unanswerability potentailUQ_model2']),
        ('model 4', row['Cln_orgQ_model4'], row['Cln_potUQ_model4'], row['EM dataset with clean orgQ_model4'], row['EM dataset with clean potentailUQ_model4'],row['unanswerability potentailUQ_model4']),
        ('electra', row['Cln_orgQ_electra'], row['Cln_potUQ_electra'], row['EM dataset with clean orgQ_electra'], row['EM dataset with clean potentailUQ_electra'],row['unanswerability potentailUQ_electra']),
        ('roberta', row['Cln_orgQ_roberta'], row['Cln_potUQ_roberta'], row['EM dataset with clean orgQ_roberta'], row['EM dataset with clean potentailUQ_roberta'],row['unanswerability potentailUQ_roberta']),
        ('sgnet', row['Cln_orgQ_sgnet'], row['Cln_potUQ_sgnet'], row['EM dataset with clean orgQ_sgnet'], row['NULL EM dataset with clean potentailUQ_sgnet'],row['unanswerability potentailUQ_sgnet']),
        ('retro', row['Cln_orgQ_retro'], row['Cln_potUQ_retro'], row['EM dataset with clean orgQ_retro'], row['NULL EM dataset with clean potentailUQ_retro'],row['unanswerability potentailUQ_retro'])
    ]

    for model_name, org_output, pu_output, org_em, pu_em,un in model_data:
        row_data = [qid, context, org_question, org_answer, org_output, pu_question, pu_output, org_em, pu_em,un, model_name]
        rows.append(row_data)

# Convert the list of rows to a DataFrame
result_df = pd.DataFrame(rows, columns=['qid', 'context', 'original question in dataset', 'original answer span in dataset', 
                                        'output of model for original question', 'potentail_UQ question', 
                                        'output of model for potentail_UQ question', 
                                        'EM-dataset answer with model on orgQ', 'EM-dataset answer with model on potentialUQ', 'unanswerability on potential question',
                                        'model name'])

result_df

Processing rows:   8%|████▍                                                     | 1911/25289 [00:00<00:02, 10312.36it/s]

0

Processing rows: 100%|█████████████████████████████████████████████████████████| 25289/25289 [00:02<00:00, 11723.93it/s]

,qid,context,original question in dataset,original answer span in dataset,output of model for original question,potentail_UQ question,output of model for potentail_UQ question,EM-dataset answer with model on orgQ,EM-dataset answer with model on potentialUQ,unanswerability on potential question,model name
0,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,influential,Time magazine named her one of the most 19 wha...,influential,0,0,0,model 2
1,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,influential,Time magazine named her one of the most 19 wha...,influential,1,0,0,model 4
2,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,influential,Time magazine named her one of the most 19 wha...,100,1,0,0,electra
3,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,influential,Time magazine named her one of the most 19 wha...,influential,1,0,1,roberta
4,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,,Time magazine named her one of the most 19 wha...,Industry,0,100,1,sgnet
...,...,...,...,...,...,...,...,...,...,...,...
151729,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,six,"Starting in the center of Kathmandu, how many ...",6,0,1,1,model 4
151730,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,6,"Starting in the center of Kathmandu, how many ...",6,1,1,1,electra
151731,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,six,"Starting in the center of Kathmandu, how many ...",6,0,1,1,roberta
151732,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,,"Starting in the center of Kathmandu, how many ...",,0,100,0,sgnet
151733,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,six,"Starting in the center of Kathmandu, how many ...",(6,0,100,1,retro

In [9]:
result_df.to_csv('20240704-forAllConditions_Numberswap_Eval100.csv')
# result_df = pd.read_csv("20240704-forAllConditions_Numberswap_Eval100.csv",sep=',')
# modified_Entity_Swap_df
print('percentages over all models')
model_name_counts = result_df['model name'].value_counts()
print(model_name_counts)
print("total row = " , len(result_df['model name']))

percentages over all models
model name
model 2    25289
model 4    25289
electra    25289
roberta    25289
sgnet      25289
retro      25289
Name: count, dtype: int64
total row =  151734

In [10]:
import pandas as pd

# Group by 'qid' and 'potential_UQ question'
grouped = result_df.groupby(['qid', 'potentail_UQ question'])

# Initialize an empty list to hold the result
result_list = []

# Iterate over each group
for name, group in grouped:
    model_name_list = []
    sw = True
    qid, potential_UQ_question = name  # unpack the group name
    
    # Assume that context, original_question, and original_answer_span are the same for each group
    context = group.iloc[0]['context']
    original_question = group.iloc[0]['original question in dataset']
    original_answer_span = group.iloc[0]['original answer span in dataset']
    
    # Iterate through each row in the group
    for index, row in group.iterrows():
        EM_orgQ = row['EM-dataset answer with model on orgQ']
        EM_modifiedQ = row['EM-dataset answer with model on potentialUQ']
        unanswerability = row['unanswerability on potential question']
        
        #### New eval (1,0,0) for model2,model4,electra,roberta AND (1,0) for retro and sgnet   
        model_n = row['model name']
        if EM_orgQ ==1 : ### originalQ should be answered
            if model_n == 'model 2' or model_n == 'model 4' or model_n == 'electra' or model_n == 'roberta': 
                if EM_modifiedQ == 0 and unanswerability == 0:  ## if model couldn't answer it (low score , and em=0 for p-u), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
            elif model_n == 'retro' or model_n == 'sgnet':
                if unanswerability == 0:  ## if model couldn't answer it (null or empty answer), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
    
    # Add the result to the list
    result_list.append({
        'qid': qid,
        'context': context,
        'original_question': original_question,
        'original_answer_span': original_answer_span,
        'potential_UQ_question': potential_UQ_question,
        'model_name_list': model_name_list,
        'len': len(model_name_list)
    })

# Create a new DataFrame from the result list
new_df = pd.DataFrame(result_list)
new_df.to_csv('20240704-for10Conditions_NumberSwap_EVAL100.csv')
# Display the new DataFrame
display(new_df)

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
0,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 100 wh...,[retro],1
1,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 19 wha...,"[model 4, electra, retro]",3
2,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 20 wha...,"[model 4, electra, retro]",3
3,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 2000s ...,[electra],1
4,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most millio...,"[electra, retro]",2
...,...,...,...,...,...,...,...
24903,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",[],0
24904,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",[],0
24905,5735d1a86c16ec1900b92832,The main international airport serving Kathman...,"Starting in the center of Kathmandu, how many ...",6,"Starting in the center of Kathmandu, how many ...",[],0
24906,573632886c16ec1900b92999,Hunting also has a significant financial impac...,One technology that is available for hunters i...,iPhone applications,eighteen technology that is available for hunt...,"[electra, roberta]",2
24907,573632886c16ec1900b92999,Hunting also has a significant financial impac...,One technology that is available for hunters i...,iPhone applications,million technology that is available for hunte...,[],0

In [14]:
filtered_df = new_df[new_df['len'] >= 4]
filtered_df.to_csv('20240704-NumberSwap-FinalUQ-EVAL100.csv')
filtered_df

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
160,56bec5d53aeaaa14008c93d9,"In September 2010, Beyoncé made her runway mod...","in September 2010, what career area did Beyonc...",modelling,"in September 2013, what career area did Beyonc...","[model 4, electra, roberta, retro]",4
200,56bf725c3aeaaa14008c9646,"A self-described ""modern-day feminist"", Beyonc...",In which years did Time rate Beyonce in the 10...,2013 and 2014,In which years did Time rate Beyonce in the 20...,"[model 4, electra, roberta, retro]",4
267,56bfae97a10cfb1400551235,Beyoncé and husband Jay Z are friends with Pre...,"What did she endorse on March 26, 2013?",same sex marriage,"What did she endorse on March 26, 2009?","[model 4, electra, roberta, retro]",4
277,56bfae97a10cfb1400551236,Beyoncé and husband Jay Z are friends with Pre...,What did they attend in July 2013?,a rally,What did they attend in July 2009?,"[model 4, electra, roberta, retro]",4
278,56bfae97a10cfb1400551236,Beyoncé and husband Jay Z are friends with Pre...,What did they attend in July 2013?,a rally,What did they attend in July 2012?,"[model 4, electra, roberta, retro]",4
...,...,...,...,...,...,...,...
24858,5735190cacc1501500bac404,"Since 1934, the sale of Federal Duck Stamps ha...",Who accounts for eighty-seven percent of the s...,hunters,"Who accounts for eighty-8,100 percent of the s...","[model 4, electra, roberta, retro]",4
24880,5735b0dedc94161900571f2e,Metropolitan Kathmandu is divided into five se...,What is the purpose of Kathmandu being divided...,civic administration,What is the purpose of Kathmandu being divided...,"[model 4, electra, roberta, retro]",4
24881,5735b0dedc94161900571f2e,Metropolitan Kathmandu is divided into five se...,What is the purpose of Kathmandu being divided...,civic administration,What is the purpose of Kathmandu being divided...,"[model 4, electra, roberta, retro]",4
24887,5735b0dedc94161900571f30,Metropolitan Kathmandu is divided into five se...,How many hectares in size is Kathmandu's ward 26?,4,How many hectares in size is Kathmandu's ward ...,"[model 2, model 4, roberta, retro]",4
24888,5735b0dedc94161900571f30,Metropolitan Kathmandu is divided into five se...,How many hectares in size is Kathmandu's ward 26?,4,How many hectares in size is Kathmandu's ward 20?,"[model 4, electra, roberta, retro]",4

In [12]:
# Define the conditions you want to check
conditions = [
    ('len >= 1', new_df['len'] >= 1),
    ('len == 3', new_df['len'] == 3),
    ('len == 4', new_df['len'] == 4),
    ('len == 5', new_df['len'] == 5),
    ('len == 6', new_df['len'] == 6),
    ('len >= 3', new_df['len'] >= 3),
    ('len >= 4', new_df['len'] >= 4),
    ('len >= 5', new_df['len'] >= 5)
]

# Initialize an empty dictionary to hold the results
condition_counts = {}

# Iterate over each condition
for condition_name, condition in conditions:
    # Filter the DataFrame based on the current condition
    filtered_df = new_df[condition]
    
    # Count the number of records that meet the condition
    count = filtered_df.shape[0]
    
    # Store the count in the dictionary
    condition_counts[condition_name] = count

# Display the counts for each condition
for condition_name, count in condition_counts.items():
    print(f"Number of records where {condition_name}: {count}")

Number of records where len >= 1: 15795
Number of records where len == 3: 3855
Number of records where len == 4: 1709
Number of records where len == 5: 546
Number of records where len == 6: 0
Number of records where len >= 3: 6110
Number of records where len >= 4: 2255
Number of records where len >= 5: 546