In [1]:
import pandas as pd

In [3]:
## read from existing results :
mutual = pd.read_csv("Task13-P-U-Mutual_Exclusion_train.csv",sep=',')
print(mutual.columns)
mutual

Index(['Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'O-Q model2 start',
       'O-Q model2 end', 'O-Q model2 score', 'O-Q model4 answer span',
       'O-Q model4 start', 'O-Q model4 end', 'O-Q model4 score',
       'O-Q electra answer span', 'O-Q electra start', 'O-Q electra end',
       'O-Q electra score', 'O-Q roberta answer span', 'O-Q roberta start',
       'O-Q roberta end', 'O-Q roberta score', 'O-Q sgnet answer span',
       'O-Q retro answer span', 'P-U model2 answer span', 'P-U model2 start',
       'P-U model2 end', 'P-U model2 score', 'P-U model4 answer span',
       'P-U model4 start', 'P-U model4 end', 'P-U model4 score',
       'P-U electra answer span', 'P-U electra start', 'P-U electra end',
       'P-U electra score', 'P-U roberta answer span', 'P-U roberta start',
       'P-U roberta end', 'P-U roberta score', 'P-U retro answer span',
       'P-U SgNet answer span'],
      dtype='object')

/tmp/ipykernel_1622344/2928536146.py:2: DtypeWarning: Columns (21,40) have mixed types. Specify dtype option on import or set low_memory=False.
  mutual = pd.read_csv("Task13-P-U-Mutual_Exclusion_train.csv",sep=',')

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,O-Q model2 start,O-Q model2 end,O-Q model2 score,O-Q model4 answer span,...,P-U electra answer span,P-U electra start,P-U electra end,P-U electra score,P-U roberta answer span,P-U roberta start,P-U roberta end,P-U roberta score,P-U retro answer span,P-U SgNet answer span
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When on in the late 1990s did Beyonce start be...,late 1990s,275,286,0.636688,late 1990s,...,Destiny's Child.,320,336,0.485786,late 1990s,276,286,4.000321e-02,destiny's child,in
1,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When on 2003 did Beyonce leave Destiny's Child...,"(2003),",524,532,0.942531,2003,...,Dangerously in Love,505,524,0.993189,2003,526,530,1.217182e-01,"(2003),",record producer and actress.
2,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas","Where in Houston, Texas what city and state di...","Houston, Texas,",165,181,0.576137,Texas,...,Houston,166,173,0.488683,Beyoncé,0,7,4.421160e-02,"houston, texas",the late 1990s as
3,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,When on late 1990s which decade did Beyonce be...,1990s,280,286,0.666362,1990s,...,1990s,281,286,0.700807,late 1990s,276,286,2.667600e-01,NaN,girl-group
4,56bf6b0f3aeaaa14008c9605,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,Who managed the Destiny's Child group?,Mathew Knowles,How did Mathew Knowles managed the Destiny's C...,"Mathew Knowles,",359,375,0.469837,Mathew Knowles,...,her father,348,358,0.890356,Managed by her father,337,358,9.785921e-05,became one of the world's best-selling girl gr...,singles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42702,5735d1a86c16ec1900b92833,The main international airport serving Kathman...,How many airlines use Tribhuvan International ...,22,What 22 airlines use Tribhuvan International f...,22,296,299,0.741945,22,...,Istanbul,414,422,0.003750,22,297,299,2.646521e-03,[SEP],NaN
42703,5735d1a86c16ec1900b92834,The main international airport serving Kathman...,From what city does Arkefly offer nonstop flig...,Amsterdam,Where in Amsterdam what city does Arkefly offe...,Amsterdam,697,707,0.990591,Amsterdam,...,Kathmandu,683,692,0.041974,Amsterdam,698,707,9.963666e-09,amsterdam,NaN
42704,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,Where in Oregon what US state did Kathmandu fi...,"Oregon,",228,236,0.995021,Oregon,...,Eugene,221,227,0.996033,Eugene,221,227,9.717197e-01,eugene,NaN
42705,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,Where in Minsk what Belorussian city does Kath...,Minsk,475,481,0.972188,Minsk,...,Minsk,476,481,0.990540,Minsk,476,481,1.543661e-02,minsk,NaN
42706,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,When on 1975 what year did Kathmandu create it...,1975,198,203,0.996814,1975,...,1975,199,203,0.995461,1975,199,203,6.293374e-01,1975,empty

# Cleaning Model's answer

In [4]:
import re

def preprocess_text2(text):
    if not pd.isna(text): 
        # Remove special characters from the left side
        text = re.sub(r'^\W+', '', text)

        # Remove special characters from the right side
        text = re.sub(r'\W+$', '', text)
        return text
    else: ## it's nan
        return ''
    
    
def preprocess_text(text):
    if not pd.isna(text): 
        return text
    else: ## it's nan
        return ''

text = "(2003)!,"
processed_text = preprocess_text(text)
print(processed_text)

(2003)!,

In [5]:
### Cleaning the result of models
import ast
Cln_orgQ_model2 = []
Cln_orgQ_model4 = []
Cln_orgQ_electra = []
Cln_orgQ_roberta = []
Cln_orgQ_sgnet = []
Cln_orgQ_retro = []

Cln_potUQ_model2 = []
Cln_potUQ_model4 = []
Cln_potUQ_electra = []
Cln_potUQ_roberta = []
Cln_potUQ_sgnet = []
Cln_potUQ_retro = []

for index, row in mutual.iterrows():
    if index % 10000 == 0:
        print(index)
    
    original_question_model2 = row['O-Q model2 answer span']
    original_question_model4 = row['O-Q model4 answer span']
    original_question_electra = row['O-Q electra answer span']
    original_question_roberta = row['O-Q roberta answer span']
    original_question_sgnet = row['O-Q sgnet answer span']
    original_question_retro = row['O-Q retro answer span']
    
    potentialU_question_model2 = row['P-U model2 answer span']
    potentialU_question_model4 = row['P-U model4 answer span']
    potentialU_question_electra = row['P-U electra answer span']
    potentialU_question_roberta = row['P-U roberta answer span']
    potentialU_question_sgnet = row['P-U SgNet answer span']
    potentialU_question_retro = row['P-U retro answer span']
    
    
    Cln_orgQ_model2.append(preprocess_text(original_question_model2))
    Cln_orgQ_model4.append(preprocess_text(original_question_model4))
    Cln_orgQ_electra.append(preprocess_text(original_question_electra))
    Cln_orgQ_roberta.append(preprocess_text(original_question_roberta))
    Cln_orgQ_sgnet.append(preprocess_text(original_question_sgnet))
    Cln_orgQ_retro.append(preprocess_text(original_question_retro))
    
    Cln_potUQ_model2.append(preprocess_text(potentialU_question_model2))
    Cln_potUQ_model4.append(preprocess_text(potentialU_question_model4))
    Cln_potUQ_electra.append(preprocess_text(potentialU_question_electra))
    Cln_potUQ_roberta.append(preprocess_text(potentialU_question_roberta))
    Cln_potUQ_sgnet.append(preprocess_text(potentialU_question_sgnet))
    Cln_potUQ_retro.append(preprocess_text(potentialU_question_retro))

    
      
mutual['Cln_orgQ_model2'] = Cln_orgQ_model2
mutual['Cln_orgQ_model4'] = Cln_orgQ_model4
mutual['Cln_orgQ_electra'] = Cln_orgQ_electra
mutual['Cln_orgQ_roberta'] = Cln_orgQ_roberta
mutual['Cln_orgQ_sgnet'] = Cln_orgQ_sgnet
mutual['Cln_orgQ_retro'] = Cln_orgQ_retro


mutual['Cln_potUQ_model2'] = Cln_potUQ_model2
mutual['Cln_potUQ_model4'] = Cln_potUQ_model4
mutual['Cln_potUQ_electra'] = Cln_potUQ_electra
mutual['Cln_potUQ_roberta'] = Cln_potUQ_roberta
mutual['Cln_potUQ_sgnet'] = Cln_potUQ_sgnet
mutual['Cln_potUQ_retro'] = Cln_potUQ_retro

# Specify the desired column order
new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'Cln_orgQ_model4', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'Cln_orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro',
       'P-U model2 answer span', 'Cln_potUQ_model2', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'Cln_potUQ_roberta', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet', 'P-U retro answer span', 'Cln_potUQ_retro'
    
]



       
# Reorder the columns in the DataFrame
mutual = mutual[new_column_order]


mutual

0
10000
20000
30000
40000

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,O-Q model2 start,O-Q model2 end,O-Q model2 score,...,P-U electra score,P-U roberta answer span,Cln_potUQ_roberta,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,P-U retro answer span,Cln_potUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When on in the late 1990s did Beyonce start be...,late 1990s,late 1990s,275,286,0.636688,...,0.485786,late 1990s,late 1990s,276,286,4.000321e-02,in,in,destiny's child,destiny's child
1,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When on 2003 did Beyonce leave Destiny's Child...,"(2003),","(2003),",524,532,0.942531,...,0.993189,2003,2003,526,530,1.217182e-01,record producer and actress.,record producer and actress.,"(2003),","(2003),"
2,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas","Where in Houston, Texas what city and state di...","Houston, Texas,","Houston, Texas,",165,181,0.576137,...,0.488683,Beyoncé,Beyoncé,0,7,4.421160e-02,the late 1990s as,the late 1990s as,"houston, texas","houston, texas"
3,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,When on late 1990s which decade did Beyonce be...,1990s,1990s,280,286,0.666362,...,0.700807,late 1990s,late 1990s,276,286,2.667600e-01,girl-group,girl-group,NaN,
4,56bf6b0f3aeaaa14008c9605,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,Who managed the Destiny's Child group?,Mathew Knowles,How did Mathew Knowles managed the Destiny's C...,"Mathew Knowles,","Mathew Knowles,",359,375,0.469837,...,0.890356,Managed by her father,Managed by her father,337,358,9.785921e-05,singles,singles,became one of the world's best-selling girl gr...,became one of the world's best-selling girl gr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42702,5735d1a86c16ec1900b92833,The main international airport serving Kathman...,How many airlines use Tribhuvan International ...,22,What 22 airlines use Tribhuvan International f...,22,22,296,299,0.741945,...,0.003750,22,22,297,299,2.646521e-03,NaN,,[SEP],[SEP]
42703,5735d1a86c16ec1900b92834,The main international airport serving Kathman...,From what city does Arkefly offer nonstop flig...,Amsterdam,Where in Amsterdam what city does Arkefly offe...,Amsterdam,Amsterdam,697,707,0.990591,...,0.041974,Amsterdam,Amsterdam,698,707,9.963666e-09,NaN,,amsterdam,amsterdam
42704,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,Where in Oregon what US state did Kathmandu fi...,"Oregon,","Oregon,",228,236,0.995021,...,0.996033,Eugene,Eugene,221,227,9.717197e-01,NaN,,eugene,eugene
42705,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,Where in Minsk what Belorussian city does Kath...,Minsk,Minsk,475,481,0.972188,...,0.990540,Minsk,Minsk,476,481,1.543661e-02,NaN,,minsk,minsk
42706,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,When on 1975 what year did Kathmandu create it...,1975,1975,198,203,0.996814,...,0.995461,1975,1975,199,203,6.293374e-01,empty,empty,1975,1975

# EM and unanswerability

In [6]:

EM_dataset_Cln_orgQ_model2 = []
EM_dataset_Cln_orgQ_model4 = []
EM_dataset_Cln_orgQ_electra = []
EM_dataset_Cln_orgQ_roberta = []
EM_dataset_Cln_orgQ_sgnet = []
EM_dataset_Cln_orgQ_retro = []

EM_dataset_Cln_potUQ_model2 = []
EM_dataset_Cln_potUQ_model4 = []
EM_dataset_Cln_potUQ_electra = []
EM_dataset_Cln_potUQ_roberta = []
Null_EM_dataset_Cln_potUQ_sgnet = []
Null_EM_dataset_Cln_potUQ_retro = []
### for unanswerability
un_potUQ_model2 = []
un_potUQ_model4 = []
un_potUQ_electra = []
un_potUQ_roberta = []
un_potUQ_sgnet = []
un_potUQ_retro = []


for index, row in mutual.iterrows():
    if index % 100000 == 0:
        print(index)
        
    original_answer_in_dataset = row['Original_Answer']

    original_question_model2 = row['Cln_orgQ_model2']
    original_question_model4 = row['Cln_orgQ_model4']
    original_question_electra = row['Cln_orgQ_electra']
    original_question_roberta = row['Cln_orgQ_roberta']
    original_question_sgnet = row['Cln_orgQ_sgnet']
    original_question_retro = row['Cln_orgQ_retro']
    
    potentialU_question_sgnet = row['Cln_potUQ_sgnet']
    potentialU_question_retro = row['Cln_potUQ_retro']
    potentialU_questionS_model2 = row['P-U model2 score']
    potentialU_questionS_model4 = row['P-U model4 score']
    potentialU_questionS_electra = row['P-U electra score']
    potentialU_questionS_roberta = row['P-U roberta score']
    



    if original_answer_in_dataset == original_question_model2:  # EM checking (dataset , model on org_q)
        EM_dataset_Cln_orgQ_model2.append(1)
    else:
        EM_dataset_Cln_orgQ_model2.append(0)
    
    if original_answer_in_dataset == original_question_model4:
        EM_dataset_Cln_orgQ_model4.append(1)
    else:
        EM_dataset_Cln_orgQ_model4.append(0)
    
    if original_answer_in_dataset == original_question_electra:
        EM_dataset_Cln_orgQ_electra.append(1)
    else:
        EM_dataset_Cln_orgQ_electra.append(0)
        
    if original_answer_in_dataset == original_question_roberta:
        EM_dataset_Cln_orgQ_roberta.append(1)
    else:
        EM_dataset_Cln_orgQ_roberta.append(0)
    
    if original_answer_in_dataset == original_question_sgnet:
        EM_dataset_Cln_orgQ_sgnet.append(1)
    else:
        EM_dataset_Cln_orgQ_sgnet.append(0)
        
    if original_answer_in_dataset == original_question_retro:
        EM_dataset_Cln_orgQ_retro.append(1)
    else:
        EM_dataset_Cln_orgQ_retro.append(0)
        
    if original_answer_in_dataset == potentialU_question_model2: ## EM checking (dataset, model on p-u_q)
        EM_dataset_Cln_potUQ_model2.append(1)
    else:
        EM_dataset_Cln_potUQ_model2.append(0)
    
    if original_answer_in_dataset == potentialU_question_model4:
        EM_dataset_Cln_potUQ_model4.append(1)
    else:
        EM_dataset_Cln_potUQ_model4.append(0)
    
    if original_answer_in_dataset == potentialU_question_electra:
        EM_dataset_Cln_potUQ_electra.append(1)
    else:
        EM_dataset_Cln_potUQ_electra.append(0)
        
    if original_answer_in_dataset == potentialU_question_roberta:
        EM_dataset_Cln_potUQ_roberta.append(1)
    else:
        EM_dataset_Cln_potUQ_roberta.append(0)
    
    Null_EM_dataset_Cln_potUQ_sgnet.append(100)
    Null_EM_dataset_Cln_potUQ_retro.append(100)

    if potentialU_questionS_model2 <= 0.096476303 : # unanswerablity checking
        un_potUQ_model2.append(0)  #unanswerable
    else:
        un_potUQ_model2.append(1)  #answerable
    
    if potentialU_questionS_model4 <= 0.15272566:
        un_potUQ_model4.append(0) #unanswerable
    else:
        un_potUQ_model4.append(1) #answerable
    
    if potentialU_questionS_electra <= 0.141489303:
        un_potUQ_electra.append(0) #unanswerable
    else:
        un_potUQ_electra.append(1) #answerable
        
    if potentialU_questionS_roberta <= 0.063691394:
        un_potUQ_roberta.append(0) #unanswerable
    else: 
        un_potUQ_roberta.append(1) #answerable
    
    if potentialU_question_sgnet == "": 
        un_potUQ_sgnet.append(0) #unanswerable
    else:
        un_potUQ_sgnet.append(1) #answerable
        
    if potentialU_question_retro == "" or potentialU_question_retro.startswith("[SEP]") or potentialU_question_retro == "'" or potentialU_question_retro == "," or potentialU_question_retro == "<No Answer>. The question is not answerable according to the context." or potentialU_question_retro == "<unk>=0" :
        un_potUQ_retro.append(0) #unanswerable
    else:
        un_potUQ_retro.append(1) #answerable
        
mutual['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
mutual['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
mutual['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
mutual['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
mutual['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
mutual['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro


mutual['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
mutual['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
mutual['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
mutual['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
mutual['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
mutual['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro


mutual['unanswerability potentailUQ_model2'] = un_potUQ_model2
mutual['unanswerability potentailUQ_model4'] = un_potUQ_model4
mutual['unanswerability potentailUQ_electra'] = un_potUQ_electra
mutual['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
mutual['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
mutual['unanswerability potentailUQ_retro'] = un_potUQ_retro

new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
    'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2', 'EM dataset with clean orgQ_model2',
    'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
    'O-Q model4 answer span', 'Cln_orgQ_model4','EM dataset with clean orgQ_model4' ,'O-Q model4 start', 'O-Q model4 end',
    'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'EM dataset with clean orgQ_electra', 'O-Q electra start',
    'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta', 'EM dataset with clean orgQ_roberta',
    'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
    'O-Q sgnet answer span', 'Cln_orgQ_sgnet', 'EM dataset with clean orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro', 'EM dataset with clean orgQ_retro',
    'P-U model2 answer span', 'Cln_potUQ_model2','EM dataset with clean potentailUQ_model2','unanswerability potentailUQ_model2' ,'P-U model2 start', 'P-U model2 end',
    'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4','EM dataset with clean potentailUQ_model4','unanswerability potentailUQ_model4', 'P-U model4 start',
    'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra', 'EM dataset with clean potentailUQ_electra','unanswerability potentailUQ_electra',
    'P-U electra start', 'P-U electra end', 'P-U electra score',
    'P-U roberta answer span', 'Cln_potUQ_roberta','EM dataset with clean potentailUQ_roberta','unanswerability potentailUQ_roberta' ,'P-U roberta start', 'P-U roberta end',
    'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet','NULL EM dataset with clean potentailUQ_sgnet' ,'unanswerability potentailUQ_sgnet','P-U retro answer span', 'Cln_potUQ_retro',
    'NULL EM dataset with clean potentailUQ_retro', 'unanswerability potentailUQ_retro'
    
]



# Reorder the columns in the DataFrame
mutual = mutual[new_column_order]


mutual

0

/tmp/ipykernel_1622344/1955004938.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
/tmp/ipykernel_1622344/1955004938.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
/tmp/ipykernel_1622344/1955004938.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
/tmp/ipykernel_1622344/1955004938.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
/tmp/ipykernel_1622344/1955004938.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
/tmp/ipykernel_1622344/1955004938.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro
/tmp/ipykernel_1622344/1955004938.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
/tmp/ipykernel_1622344/1955004938.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
/tmp/ipykernel_1622344/1955004938.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
/tmp/ipykernel_1622344/1955004938.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
/tmp/ipykernel_1622344/1955004938.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
/tmp/ipykernel_1622344/1955004938.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro
/tmp/ipykernel_1622344/1955004938.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_model2'] = un_potUQ_model2
/tmp/ipykernel_1622344/1955004938.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_model4'] = un_potUQ_model4
/tmp/ipykernel_1622344/1955004938.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_electra'] = un_potUQ_electra
/tmp/ipykernel_1622344/1955004938.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
/tmp/ipykernel_1622344/1955004938.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
/tmp/ipykernel_1622344/1955004938.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mutual['unanswerability potentailUQ_retro'] = un_potUQ_retro

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,EM dataset with clean orgQ_model2,O-Q model2 start,O-Q model2 end,...,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,NULL EM dataset with clean potentailUQ_sgnet,unanswerability potentailUQ_sgnet,P-U retro answer span,Cln_potUQ_retro,NULL EM dataset with clean potentailUQ_retro,unanswerability potentailUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When on in the late 1990s did Beyonce start be...,late 1990s,late 1990s,0,275,286,...,286,4.000321e-02,in,in,100,1,destiny's child,destiny's child,100,1
1,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When on 2003 did Beyonce leave Destiny's Child...,"(2003),","(2003),",0,524,532,...,530,1.217182e-01,record producer and actress.,record producer and actress.,100,1,"(2003),","(2003),",100,1
2,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas","Where in Houston, Texas what city and state di...","Houston, Texas,","Houston, Texas,",0,165,181,...,7,4.421160e-02,the late 1990s as,the late 1990s as,100,1,"houston, texas","houston, texas",100,1
3,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,When on late 1990s which decade did Beyonce be...,1990s,1990s,0,280,286,...,286,2.667600e-01,girl-group,girl-group,100,1,NaN,,100,0
4,56bf6b0f3aeaaa14008c9605,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,Who managed the Destiny's Child group?,Mathew Knowles,How did Mathew Knowles managed the Destiny's C...,"Mathew Knowles,","Mathew Knowles,",0,359,375,...,358,9.785921e-05,singles,singles,100,1,became one of the world's best-selling girl gr...,became one of the world's best-selling girl gr...,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42702,5735d1a86c16ec1900b92833,The main international airport serving Kathman...,How many airlines use Tribhuvan International ...,22,What 22 airlines use Tribhuvan International f...,22,22,1,296,299,...,299,2.646521e-03,NaN,,100,0,[SEP],[SEP],100,0
42703,5735d1a86c16ec1900b92834,The main international airport serving Kathman...,From what city does Arkefly offer nonstop flig...,Amsterdam,Where in Amsterdam what city does Arkefly offe...,Amsterdam,Amsterdam,0,697,707,...,707,9.963666e-09,NaN,,100,0,amsterdam,amsterdam,100,1
42704,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,Where in Oregon what US state did Kathmandu fi...,"Oregon,","Oregon,",0,228,236,...,227,9.717197e-01,NaN,,100,0,eugene,eugene,100,1
42705,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,Where in Minsk what Belorussian city does Kath...,Minsk,Minsk,0,475,481,...,481,1.543661e-02,NaN,,100,0,minsk,minsk,100,1
42706,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,When on 1975 what year did Kathmandu create it...,1975,1975,1,198,203,...,203,6.293374e-01,empty,empty,100,1,1975,1975,100,1

# Working on EM results

In [7]:
import pandas as pd
from tqdm import tqdm

# Define an empty list to hold the rows
rows = []

# Iterate through the DataFrame using iterrows
for index, row in tqdm(mutual.iterrows(), total=mutual.shape[0], desc="Processing rows"):
    if index % 100000 == 0: 
        print(index)

    qid = row['Question_Id']
    context = row['Context']
    org_question = row['Original_Question']
    org_answer = row['Original_Answer']
    pu_question = row['Modified_Question']

    model_data = [
        ('model 2', row['Cln_orgQ_model2'], row['Cln_potUQ_model2'], row['EM dataset with clean orgQ_model2'], row['EM dataset with clean potentailUQ_model2'],row['unanswerability potentailUQ_model2']),
        ('model 4', row['Cln_orgQ_model4'], row['Cln_potUQ_model4'], row['EM dataset with clean orgQ_model4'], row['EM dataset with clean potentailUQ_model4'],row['unanswerability potentailUQ_model4']),
        ('electra', row['Cln_orgQ_electra'], row['Cln_potUQ_electra'], row['EM dataset with clean orgQ_electra'], row['EM dataset with clean potentailUQ_electra'],row['unanswerability potentailUQ_electra']),
        ('roberta', row['Cln_orgQ_roberta'], row['Cln_potUQ_roberta'], row['EM dataset with clean orgQ_roberta'], row['EM dataset with clean potentailUQ_roberta'],row['unanswerability potentailUQ_roberta']),
        ('sgnet', row['Cln_orgQ_sgnet'], row['Cln_potUQ_sgnet'], row['EM dataset with clean orgQ_sgnet'], row['NULL EM dataset with clean potentailUQ_sgnet'],row['unanswerability potentailUQ_sgnet']),
        ('retro', row['Cln_orgQ_retro'], row['Cln_potUQ_retro'], row['EM dataset with clean orgQ_retro'], row['NULL EM dataset with clean potentailUQ_retro'],row['unanswerability potentailUQ_retro'])
    ]

    for model_name, org_output, pu_output, org_em, pu_em,un in model_data:
        row_data = [qid, context, org_question, org_answer, org_output, pu_question, pu_output, org_em, pu_em,un, model_name]
        rows.append(row_data)

# Convert the list of rows to a DataFrame
result_df = pd.DataFrame(rows, columns=['qid', 'context', 'original question in dataset', 'original answer span in dataset', 
                                        'output of model for original question', 'potentail_UQ question', 
                                        'output of model for potentail_UQ question', 
                                        'EM-dataset answer with model on orgQ', 'EM-dataset answer with model on potentialUQ', 'unanswerability on potential question',
                                        'model name'])

result_df

Processing rows:   5%|███▏                                                       | 2292/42707 [00:00<00:04, 8686.65it/s]

0

Processing rows: 100%|█████████████████████████████████████████████████████████| 42707/42707 [00:03<00:00, 11982.53it/s]

,qid,context,original question in dataset,original answer span in dataset,output of model for original question,potentail_UQ question,output of model for potentail_UQ question,EM-dataset answer with model on orgQ,EM-dataset answer with model on potentialUQ,unanswerability on potential question,model name
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When on in the late 1990s did Beyonce start be...,Destiny's Child.,0,0,1,model 2
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When on in the late 1990s did Beyonce start be...,1981,0,0,0,model 4
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in the late 1990s,When on in the late 1990s did Beyonce start be...,Destiny's Child.,1,0,1,electra
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When on in the late 1990s did Beyonce start be...,late 1990s,0,0,0,roberta
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in,When on in the late 1990s did Beyonce start be...,in,0,100,1,sgnet
...,...,...,...,...,...,...,...,...,...,...,...
256237,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,1975,When on 1975 what year did Kathmandu create it...,1975,1,1,1,model 4
256238,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,1975,When on 1975 what year did Kathmandu create it...,1975,1,1,1,electra
256239,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,1975,When on 1975 what year did Kathmandu create it...,1975,1,1,1,roberta
256240,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,,When on 1975 what year did Kathmandu create it...,empty,0,100,1,sgnet
256241,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,1975,When on 1975 what year did Kathmandu create it...,1975,1,100,1,retro

In [9]:
result_df.to_csv('20240704-forAllConditions_Mutual_Eval100.csv')
# result_df = pd.read_csv("20240704-forAllConditions_Mutual_Eval100.csv",sep=',')
# modified_Entity_Swap_df
print('percentages over all models')
model_name_counts = result_df['model name'].value_counts()
print(model_name_counts)
print("total row = " , len(result_df['model name']))

percentages over all models
model name
model 2    42707
model 4    42707
electra    42707
roberta    42707
sgnet      42707
retro      42707
Name: count, dtype: int64
total row =  256242

In [10]:
import pandas as pd

# Group by 'qid' and 'potential_UQ question'
grouped = result_df.groupby(['qid', 'potentail_UQ question'])

# Initialize an empty list to hold the result
result_list = []

# Iterate over each group
for name, group in grouped:
    model_name_list = []
    sw = True
    qid, potential_UQ_question = name  # unpack the group name
    
    # Assume that context, original_question, and original_answer_span are the same for each group
    context = group.iloc[0]['context']
    original_question = group.iloc[0]['original question in dataset']
    original_answer_span = group.iloc[0]['original answer span in dataset']
    
    # Iterate through each row in the group
    for index, row in group.iterrows():
        EM_orgQ = row['EM-dataset answer with model on orgQ']
        EM_modifiedQ = row['EM-dataset answer with model on potentialUQ']
        unanswerability = row['unanswerability on potential question']
        
        #### New eval (1,0,0) for model2,model4,electra,roberta AND (1,0) for retro and sgnet   
        model_n = row['model name']
        if EM_orgQ ==1 : ### originalQ should be answered
            if model_n == 'model 2' or model_n == 'model 4' or model_n == 'electra' or model_n == 'roberta': 
                if EM_modifiedQ == 0 and unanswerability == 0:  ## if model couldn't answer it (low score , and em=0 for p-u), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
            elif model_n == 'retro' or model_n == 'sgnet':
                if unanswerability == 0:  ## if model couldn't answer it (null or empty answer), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
    
    # Add the result to the list
    result_list.append({
        'qid': qid,
        'context': context,
        'original_question': original_question,
        'original_answer_span': original_answer_span,
        'potential_UQ_question': potential_UQ_question,
        'model_name_list': model_name_list,
        'len': len(model_name_list)
    })

# Create a new DataFrame from the result list
new_df = pd.DataFrame(result_list)
new_df.to_csv('20240704-for10Conditions_Mutual_EVAL100.csv')
# Display the new DataFrame
display(new_df)

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When on in the late 1990s did Beyonce start be...,[],0
1,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When on 2003 did Beyonce leave Destiny's Child...,[model 4],1
2,56be86cf3aeaaa14008c9078,Following the disbandment of Destiny's Child i...,Which artist did Beyonce marry?,Jay Z,How did Jay Z artist did Beyonce marry?,[model 4],1
3,56be86cf3aeaaa14008c9079,Following the disbandment of Destiny's Child i...,"To set the record for Grammys, how many did Be...",six,"What six the record for Grammys, how many did ...",[electra],1
4,56be88473aeaaa14008c9084,"A self-described ""modern-day feminist"", Beyonc...",Which magazine declared her the most dominant ...,Forbes,How did Forbes magazine declared her the most ...,[model 4],1
...,...,...,...,...,...,...,...
42702,57363293012e2f140011a218,"Since 1934, the sale of Federal Duck Stamps ha...",How much land has the Duck Stamp Act help purc...,"5,200,000 acres","What 5,200,000 acres land has the Duck Stamp A...","[model 4, electra]",2
42703,57363293012e2f140011a21a,"Since 1934, the sale of Federal Duck Stamps ha...",What percent of sales are contributed by hunters?,eighty-seven,When on eighty-seven percent of sales are cont...,"[model 4, electra, retro]",3
42704,5736342b506b47140023658c,"The Arabian oryx, a species of large antelope,...",What is a species of large antelope?,Arabian oryx,Where in Arabian oryx is a species of large an...,"[electra, roberta]",2
42705,5736342b506b47140023658d,"The Arabian oryx, a species of large antelope,...",What did the large antelope species once inhabit?,much of the desert areas of the Middle East,Where in much of the desert areas of the Middl...,"[model 4, electra, roberta]",3
42706,5736342b506b47140023658f,"The Arabian oryx, a species of large antelope,...",When did the Arabian oryx become extinct?,1972,When on 1972 did the Arabian oryx become extinct?,"[electra, retro]",2

In [14]:
filtered_df = new_df[new_df['len'] >= 4]
filtered_df.to_csv('20240704-Mutual-FinalUQ-EVAL100.csv')
filtered_df

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
53,56bea8463aeaaa14008c91ac,"In August, the couple attended the 2011 MTV Vi...",How many people watched the 2011 MTV Music Awa...,12.4 million,What 12.4 million people watched the 2011 MTV ...,"[model 4, electra, roberta, retro]",4
155,56bf91c6a10cfb1400551183,"In November 2003, she embarked on the Dangerou...",When did Destiny's Child get their star on the...,6-Mar,When on March 2006 did Destiny's Child get the...,"[model 4, electra, roberta, retro]",4
235,56bfd6f7a10cfb1400551325,Beyoncé has received numerous awards. As a sol...,How many records has she sold with Destiny's C...,60 million,What 60 million records has she sold with Dest...,"[model 4, electra, roberta, retro]",4
257,56bfe66ea10cfb1400551381,"In October 2014, Beyoncé signed a deal to laun...",When will the full line appear?,16-Apr,When on April 2016 will the full line appear?,"[model 4, electra, roberta, retro]",4
349,56cc36926d243a140015eed2,Tibet was once a strong power contemporaneous ...,What year did Tang and Tibet sign a treaty to ...,821,What 821 did Tang and Tibet sign a treaty to f...,"[model 2, model 4, electra, roberta]",4
...,...,...,...,...,...,...,...
42609,5735c028e853931400426b39,Kathmandu is home to a number of museums and a...,How many Monument Zones are present in the Kat...,seven,What seven Monument Zones are present in the K...,"[model 4, electra, roberta, retro]",4
42657,5735d1a86c16ec1900b92833,The main international airport serving Kathman...,How many airlines use Tribhuvan International ...,22,What 22 airlines use Tribhuvan International f...,"[model 2, model 4, electra, roberta, retro]",5
42682,573610e9012e2f140011a189,Hunting in the United States is not associated...,What percentage of Americans support legal hun...,seventy-eight percent,How was the seventy-eight percent distributed ...,"[model 4, electra, roberta, retro]",4
42685,573610e9012e2f140011a18c,Hunting in the United States is not associated...,Midwesterners hunted at what rate?,twelve percent,How was the twelve percent distributed hunted ...,"[model 4, electra, roberta, retro]",4
42701,57363293012e2f140011a217,"Since 1934, the sale of Federal Duck Stamps ha...",How much money has been generated due to the D...,$670 million,How much money has been generated due to the d...,"[model 4, electra, roberta, retro]",4

In [12]:
# Define the conditions you want to check
conditions = [
    ('len >= 1', new_df['len'] >= 1),
    ('len == 3', new_df['len'] == 3),
    ('len == 4', new_df['len'] == 4),
    ('len == 5', new_df['len'] == 5),
    ('len == 6', new_df['len'] == 6),
    ('len >= 3', new_df['len'] >= 3),
    ('len >= 4', new_df['len'] >= 4),
    ('len >= 5', new_df['len'] >= 5)
]

# Initialize an empty dictionary to hold the results
condition_counts = {}

# Iterate over each condition
for condition_name, condition in conditions:
    # Filter the DataFrame based on the current condition
    filtered_df = new_df[condition]
    
    # Count the number of records that meet the condition
    count = filtered_df.shape[0]
    
    # Store the count in the dictionary
    condition_counts[condition_name] = count

# Display the counts for each condition
for condition_name, count in condition_counts.items():
    print(f"Number of records where {condition_name}: {count}")

Number of records where len >= 1: 31958
Number of records where len == 3: 7670
Number of records where len == 4: 2571
Number of records where len == 5: 649
Number of records where len == 6: 1
Number of records where len >= 3: 10891
Number of records where len >= 4: 3221
Number of records where len >= 5: 650